body {
  background-color: #f0f0f0;
  font-family: "Habibi", serif;
  text-align: center;
}

h1 {
  color: #444;
  margin-top: 50px;
  font-size: 36px;
}

.container {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.gallery img {
  max-width: 100%;
  height: auto;
}

.gallery img:hover {
  border: 2px solid #2196F3;